---
layout: layouts/base.njk
templateClass: tmpl-home
---
<h2>Projects</h2>
<section class="post">
  <h4 class="postlist-item"><a href="https://gauge.org">Gauge</a></h4>
  <p>Open source test automation framework</p>
  <h4 class="postlist-item"><a href="https://taiko.dev">Taiko</a></h4>
  <p>Open source browser automation tool</p>
</section>

<h2>Articles</h2>


{{ content | safe }}
