---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="row">
    <div class="ten columns">
        <h1>About</h1>
        <p>Hi, I am Zabil. I am a Product Manager at <a href="https://www.thoughtworks.com">ThoughtWorks</a>.
        I've worked on these open source projects</p>
        <ul>
            <li><a href="https://gauge.org">Gauge</a> - A Test automation framework</li>
            <li><a href="https://taiko.dev">Taiko</a> - A Browser automation tool</li>
            <li><a href="https://gocd.org">GoCD</a> - CI/CD server</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="ten columns">
        <h1>Articles</h1>
        {{ content | safe }}
    </div>
</div>
