---
layout: layouts/base.njk
templateClass: tmpl-post
---
<p><a href="{{ '/' | url }}">←</a></p>
<h1>{{ title }}</h1>
<div class="row">
     <div class="nine columns">
        {{ content | safe }}
     </div>
</div>

<p><a href="{{ '/' | url }}">←</a></p>
