---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="row">
     <div class="twelve columns">
        <h1 class="title">{{ title }}</h1>
     </div>
</div>
<div class="row">
     <div class="twelve columns">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="{{ '/' | url }}">Home</a></li>
            </ul>
        </nav>
     </div>
</div>
<div class="row">
     <div class="nine columns">
        {{ content | safe }}
        <p>--</p>
     </div>
</div>
